/* Добавьте это в App.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.ton-connect-button {
  margin-bottom: 20px;
}

.next-button {
  margin-top: 20px;
}
