/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ton-connect {
  display: flex;
  justify-content: center;
  align-items: center;
}
