body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2, select, .button, #ton-connect {
    margin: 10px 0;
}

.button {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #1565c0;
}
